<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <title>Energy Consumption</title>

</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mb-5">
            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Meter Number</th>
                            <th scope="col">1st Reading WeekDay day rate</th>
                            <th scope="col">2nd Reading Weekday day rate</th>
                            <th scope="col">1st Reading Night Rate</th>
                            <th scope="col">2nd Reading Night Rate</th>
                            <th scope="col">1st Reading Weekend night rate </th>
                            <th scope="col">2nd Reading Weekend night rate </th>
    
                        </tr>
            
                    </thead>
                    <tbody>
                        
                    {% comment %} data should go heeress {% endcomment %}
                            
                          {%for key, value in data.items%}
                            <tr>
                                <td>
                                    {{value.personal.0}}
                                </td>   
                                <td>
                                    {{value.personal.1}}
                                </td>
                                <td>
                                    {{value.personal.2}}
                                </td>
                                <td>
                                    {{value.consumption.0}}
                                </td>
                                <td>
                                    {{value.consumption.1}}
                                </td>
                                <td>
                                    {{value.consumption.2}}
                                </td>
                                <td>
                                    {{value.consumption.3}}
                                </td>
                                <td>
                                    {{value.consumption.4}}
                                </td>
                                <td>
                                    {{value.consumption.5}}
                                </td>
                                <td>
                                    {{value.consumption.6}}
                                </td>
                                <td>
                                    {{value.consumption.7}}
                                </td>
                                <td>
                                    
                                </td>

                            </tr>
                        
                               
                            {%endfor%}
                               
                      
                                   
                        
                        
                       
                    </tbody>
            
                </table>
       
      

             
                
            </div>
            
  
          
        </div>

        <div class="col-sm-12">
            <button 
            id="shootCalc"
            type="button" 
            class="btn btn-primary">
            Show Highest Consumption Rate
            </button>
           <div id="calcTable" class="table-responsive">
              
           </div>
        </div>
     


    </div>
    <div class="row" >
        <div class="col-sm-12">
            <div  id="task2"class="table-responive">
                <table class="table">
                    <thead id="thead">
                        <tr>
                            
                            <td>Rate Name</td>
                            <td>Consumption/Rate </td>
                            <td>Customer Name</td>
                            <td>Customer Address</td>
                            <td>Customer Meter Number</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                       <tr>
                            <td scope="col">Day Rate</td>
                            <td id="totalDay"></td>
                            <td id="dayFName"></td>
                            <td id="dayAddress"></td>
                            <td id="dayMetNum"></td>
                       </tr>
                       <tr>
                            <td scope="col">Night Rate</td>
                            <td id="totalNight"></td>
                            <td id="nightFName"></td>
                            <td id="nightAdress"></td>
                            <td id="nightMetNum"></td>
                      </tr>
                        <tr>
                            <td scope="col">Total Cost</td>
                            <td id="totalCost"></td>
                            <td id="totalFName"></td>
                            <td id="totalAddress"></td>
                            <td id="totalMetNum"></td>
                     </tr>
                   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>








   

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  


<!-- 

    <script>
        document.getElementById('shootCalc').addEventListener('click', function() {
            $.ajax(({
                url: 'http://localhost:8000/maxvalue',
                type: 'GET',
                dataType: 'jsonp',
                success: function(data) {

                    // document.getElementById('thead').innerHTML = 
            
                    console.log("Hello");
                }, 
                error: function(err) {
                    console.log(JSON.stringify(err));
                    console.log("Bye");
               
                }
              
            }));
            
            
        });
     </script> -->

     <script>
        $(document).ready(function () {
            $('#task2').hide();
            $( "#shootCalc" ).click(function() {
                $( "#task2" ).toggle();
            });
            $.ajax({
                type: 'GET',
                url: '//localhost:8000/maxvalue',
                success: function (resp) {
                    //create arr of all day consumption values
                    let dayConsumption = [resp.data['Customer 1'][1], resp.data['Customer 2'][1], resp.data['Customer 3'][1], resp.data['Customer 4'][1]]
                    // find max of array
                    let dayMaxConsumption = Math.max(...dayConsumption)
                    // find index of max number 
                    let dayMaxConsumptionIndex =  dayConsumption.indexOf(dayMaxConsumption, 0)
                    // console.log(dayMaxConsumptionIndex)
                    // 0 = customer 1, 1 = customer2 ...
                    if (dayMaxConsumptionIndex ==0 ){
                        $('#totalDay').text(resp.data['Customer 1'][1])
                        $('#nightFName').text(resp.data['Customer 1'][0]['personal'][0])
                        $('#nightAdress').text(resp.data['Customer 1'][0]['personal'][1])
                        $('#nightMetNum').text(resp.data['Customer 1'][0]['personal'][2])
                    }else if (dayMaxConsumptionIndex ==1 ) {
                        $('#totalDay').text(resp.data['Customer 2'][1])
                        $('#nightFName').text(resp.data['Customer 2'][0]['personal'][0])
                        $('#nightAdress').text(resp.data['Customer 2'][0]['personal'][1])
                        $('#nightMetNum').text(resp.data['Customer 2'][0]['personal'][2])
                    }else if (dayMaxConsumptionIndex ==2 ) {
                        $('#totalDay').text(resp.data['Customer 3'][1])
                        $('#nightFName').text(resp.data['Customer 3'][0]['personal'][0])
                        $('#nightAdress').text(resp.data['Customer 3'][0]['personal'][1])
                        $('#nightMetNum').text(resp.data['Customer 4'][0]['personal'][2])
                    }else if (dayMaxConsumptionIndex ==3 ) {
                        $('#totalDay').text(resp.data['Customer 4'][1])
                        $('#nightFName').text(resp.data['Customer 4'][0]['personal'][0])
                        $('#nightAdress').text(resp.data['Customer 4'][0]['personal'][1])
                        $('#nightMetNum').text(resp.data['Customer 4'][0]['personal'][2])
                    }

                    // array of night consumption value
                    let nightConsumption = [resp.data['Customer 1'][2], resp.data['Customer 2'][2], resp.data['Customer 3'][2], resp.data['Customer 4'][2]]
                    // find max value of array 
                    let nightMaxConsumption = Math.max(...nightConsumption)
                    // finding index of max value which is then used to identify which customer it came from
                    let nightMaxConsumptionIndex =  nightConsumption.indexOf(nightMaxConsumption, 0)
                    // console.log(dayMaxConsumptionIndex)
                    if (nightMaxConsumptionIndex ==0 ){
                        $('#totalNight').text(resp.data['Customer 1'][2])
                        $('#dayFName').text(resp.data['Customer 1'][0]['personal'][0])
                        $('#dayAddress').text(resp.data['Customer 1'][0]['personal'][1])
                        $('#dayMetNum').text(resp.data['Customer 1'][0]['personal'][2])
                    }else if (nightMaxConsumptionIndex ==1 ) {
                        $('#totalNight').text(resp.data['Customer 2'][2])
                        $('#dayFName').text(resp.data['Customer 2'][0]['personal'][0])
                        $('#dayAddress').text(resp.data['Customer 2'][0]['personal'][1])
                        $('#dayMetNum').text(resp.data['Customer 2'][0]['personal'][2])
                    }else if (nightMaxConsumptionIndex ==2 ) {
                        $('#totalNight').text(resp.data['Customer 3'][2])
                        $('#dayFName').text(resp.data['Customer 3'][0]['personal'][0])
                        $('#dayAddress').text(resp.data['Customer 3'][0]['personal'][1])
                        $('#dayMetNum').text(resp.data['Customer 4'][0]['personal'][2])
                    }else if (nightMaxConsumptionIndex ==3 ) {
                        $('#totalNight').text(resp.data['Customer 4'][2])
                        $('#dayFName').text(resp.data['Customer 4'][0]['personal'][0])
                        $('#dayAddress').text(resp.data['Customer 4'][0]['personal'][1])
                        $('#dayMetNum').text(resp.data['Customer 4'][0]['personal'][2])
                    }
                    

                    //Total Cost
                    let TotalCostArr = [resp.data['Customer 1'][2], resp.data['Customer 2'][2], resp.data['Customer 3'][2], resp.data['Customer 4'][2]]
                    // find max value of array 
                    let TotalMax = Math.max(...TotalCostArr)
                    // finding index of max value which is then used to identify which customer it came from
                    let TotalMaxIndex =  TotalCostArr.indexOf(TotalMax, 0)
                    // console.log(dayMaxConsumptionIndex)
                    if (TotalMaxIndex ==0 ){
                        $('#totalCost').text(resp.data['Customer 1'][3])
                        $('#totalFName').text(resp.data['Customer 1'][0]['personal'][0])
                        $('#totalAddress').text(resp.data['Customer 1'][0]['personal'][1])
                        $('#totalMetNum').text(resp.data['Customer 1'][0]['personal'][2])
                    }else if (TotalMaxIndex ==1 ) {
                        $('#totalCost').text(resp.data['Customer 2'][3])
                        $('#totalFName').text(resp.data['Customer 2'][0]['personal'][0])
                        $('#totalAddress').text(resp.data['Customer 2'][0]['personal'][1])
                        $('#totalMetNum').text(resp.data['Customer 2'][0]['personal'][2])
                    }else if (TotalMaxIndex ==2 ) {
                        $('#totalCost').text(resp.data['Customer 3'][3])
                        $('#totalFName').text(resp.data['Customer 3'][0]['personal'][0])
                        $('#totalAddress').text(resp.data['Customer 3'][0]['personal'][1])
                        $('#totalMetNum').text(resp.data['Customer 4'][0]['personal'][2])
                    }else if (TotalMaxIndex ==3 ) {
                        $('#totalCost').text(resp.data['Customer 4'][3])
                        $('#totalFName').text(resp.data['Customer 4'][0]['personal'][0])
                        $('#totalAddress').text(resp.data['Customer 4'][0]['personal'][1])
                        $('#totalMetNum').text(resp.data['Customer 4'][0]['personal'][2])
                    }
                    
                }
            })
         
        })
     </script>


</body>

</html>